header{
    background-color: #c7c7c7;
    padding: 15px !important;
}

.descrição{
    background-color: #c7c7c7;
    padding: 20px;
}

.descricao{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.0rem !important;
}